body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.626rem;
  color: #66BFBF;
}
.top-container p{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: normal;
}
h2{
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
font-size: 40px;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 100px;

}
.top-cloud{
  position: absolute;
  right: 400px;
  top: 50px;
}
.skills{
  padding-top: 70px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.three{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.four{
  width: 25%;
  float: right;
  margin-right: 30px;

}
hr{
  text-align: center;
  width: 6%;
  border:none;
 border-top:10px dotted#EAF6F6;
 color:#fff;
 background-color:#fff;

}






.myButton {
	background-color:#11999E;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffff  ;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#66BFBF;
}
.myButton:active {
	position:relative;
	top:1px;
}
.pro{
width: 170px;
height: 170px;
padding-top: 30px;
}
.profile{
  padding-bottom: 10px;
  padding-top: 50px;
}
.p1{
  padding-top: 70px;
}
.p2{
  padding-bottom: 30px;
  padding-top: 30px;
}


.bottom-cloud{
  position: absolute;
  left: 500px;
  bottom: 300px;
}
.bottom-container{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #66BFBF;
}
.footer-link{
  text-align: center;
  font-family: 'Merriweather', serif;
  padding-left: 20px;
  color:#11999E;
  text-decoration: none;

}
.footer-link:hover{
  color: #ffff;
}
